<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Edit Recipe</title>
</head>
<body>
<div align="center">
  <h1>Edit Recipe</h1>
  <br />
  <form action="#" th:action="@{/saverecipe}" th:object="${recipe}"
        method="post">
    <table border="0">
      <tr>
        <td>ID:</td>
        <td><input type="text" th:field="*{rid}" readonly="readonly" />
        </td>
      </tr>
      <tr>
        <td>Recipe Name:</td>
        <td><input type="text" th:field="*{rname}" /></td>
      </tr>
      <tr>
        <td>Recipe Description:</td>
        <td><input type="text" th:field="*{rdescription}" /></td>
      </tr>
      <tr>
        <td>Recipe Origin:</td>
        <td><input type="text" th:field="*{rcountry}" /></td>
      </tr>
      <tr>
        <td>Favourite</td>
        <td><input type="checkbox" th:checked="${favourite} == true" th:field="*{favourite}" id="favourite" /></td>
      </tr>

      <tr>
        <td colspan="2"><button type="submit">Save</button></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>