<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cart</title>

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/user">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Carlos Arellano</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Profile -->
    <li class="nav-item">
      <a class="nav-link" href="/user">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Profile</span></a>
    </li>

    <!-- Nav Item - Recipes -->
    <li class="nav-item">
      <a class="nav-link" href="/recipes">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Recipes</span></a>
    </li>

    <!-- Nav Item - Favourites -->
    <li class="nav-item">
      <a class="nav-link" href="/my-favourite">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>My Favourite Recipes</span></a>
    </li>

    <!-- Nav Item - Plan Meal -->
    <li class="nav-item">
      <a class="nav-link" href="/planmeal">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Plan Meal</span></a>
    </li>

    <!-- Nav Item - Shopping List -->
    <li class="nav-item">
      <a class="nav-link" href="/shoppinglist">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Shopping List</span></a>
    </li>
  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

          <!-- Nav Item - Shopping Cart -->
          <li class="nav-item dropdown no-arrow mx-1">
            <a   href="/my-shopping-cart" id="messagesDropdown" role="button"
                 aria-haspopup="true" aria-expanded="false">
              <img width="42" height="42" style="vertical-align:middle; margin-top: 6px;"  alt="Shopping Cart" title="Shopping Cart" src="https://play-lh.googleusercontent.com/2QEKcIOLIO9HRoL6lWIVFEY_Y07oW1_5Zk0vvEHym1Wsxzhdjf0mJ6eMG8QBs66c0S8">

            </a>
          </li>
          <div class="topbar-divider d-none d-sm-block"></div>
          </li>

        </ul>

      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">MY CART</h1>

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <a href="/shoppinglist">View Shopping List</a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Recipe Name</th>
                  <th>Recipe Ingredients</th>
                  <th>Quantity</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="shoppingList : ${listShopping}">
                  <td th:text="${shoppingList.lid}"> ID</td>
                  <td th:text="${shoppingList.lname}">Recipe Name</td>
                  <td th:text="${shoppingList.lingredients}">Recipe Ingredient</td>
                  <td th:text="${shoppingList.quantity}">Quantity</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; 2022</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

</div>

</body>
</html>